<template>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 style="padding-top:20px;">Documents</h3>
                    <hr>
                </div>
            </div>

            <!-- là on veut la liste des fichiers
            + un bouton remettre si t'es parent et que le statut est NULL
            + si le statut est 0 : un bouton valider sur chaque fichier si t'es admin ou un bouton supprimer si t'es parent
            + si le statut est 1 : rien -->
            <div v-if="files.length > 0">

                <div v-for="file in files" :key="file.file">
                    <div class="border rounded p-3">
                        <div class="row">
                            <div class="col">
                                <p>Type de document : {{ file.fileType }}</p>
                                <p v-if="file.validated!==1">Statut :
                                    {{
                                        file.validated == null ? "En attente d'upload" : "En attente de validation"
                                    }}</p>
                                <p v-else>Statut : Fichier validé par l'administration</p>
                            </div>
                            <div class="row">

                                <div v-if="(!admin.logged && file.validated==null)">
                                    <div class="col">
                                        <form class="col" @submit.prevent="addFile(file.id)"
                                              enctype="multipart/form-data">
                                            <div>
                                                <p>Veuillez remettre le document demandé</p>
                                                <label for="inputFileUpload">Choisir un document</label>
                                                <input type="file" @name="file.id" id="inputFileUpload"
                                                       v-on:change="onFileChange($event, file.id)">

                                                <input type="submit" class="btn btn-dark" value="Valider">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div v-else-if="(admin.logged && file.validated==0)">
                                    <p>Veuillez valider le document remis</p>
                                    <a download
                                       :href="'/attachedFiles/candidature '+ store.id+'/'+file.fileName">Télécharger</a>
                                    <div class="text-right m-2">
                                        <button class="btn btn-dark" @click="validateFile(file.id)">Valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div v-else>
                <p v-if="!admin.logged">Aucun document</p>
            </div>


            <p v-if="admin.logged">Ici, vous pouvez demander des documents supplémentaires à remettre </p>
            <form @submit.prevent="requestNewFile()" enctype="multipart/form-data">
                <div v-if="admin.logged">
                    <label for="fileType">Choisissez le document à demander</label>
                    <select style="border-radius: 10px;" v-model="attachedFileType" id="fileType">
                        <option type="text" disabled selected>Choisissez le type document</option>
                        <option type="text" value="Dossier d'inscription">Dossier d'inscription</option>
                        <option type="text" value="Certificat médical">Certificat médical</option>
                        <option type="text" value="Attestation d'assurance scolaire">Attestation d'assurance scolaire
                        </option>
                        <option type="text" value="Attestation d'hébergement">Attestation d'hébergement</option>
                    </select>
                    <div class="text-right m-2">
                        <input type="submit" class="btn btn-dark" value="Valider">
                    </div>

                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "AttachedFiles",
    data() {
        return {
            files: [],
            attachedFileType: null,
            attachedFiles: [],
        }
    },
    created() {
        this.getfiles()
    },
    methods: {
        onFileChange(event, key) {
            this.attachedFiles[key] = event.target.files[0];
        },
        addFile(fileId) {
            const body = new FormData();
            body.append('attachedFile', this.attachedFiles[fileId]);
            axios.post("/candidature/" + this.store.id + "/files/" + fileId + '/add', body, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then((res) => {
                    this.files.find(f => f.id == fileId).validated = 0;
                });
        },
        validateFile(fileId) {
            axios.put("/candidature/" + this.store.id + "/files/" + fileId, {
                validated: true
            })
                .then((res) => {
                    this.files.find(f => f.id == fileId).validated = 1;
                });
        },
        requestNewFile() {
            const data = new FormData();
            data.append('attachedFileType', this.attachedFileType);
            axios.post("/candidature/" + this.store.id + "/files", data)
                .then((res) => {
                    this.files.push(res.data)
                });
        },

        /** Récupération des documents */
        getfiles() {
            axios.get('/candidature/' + this.store.id + '/files').then(res => {
                this.files = res.data;
            });
        },

    }
}
</script>
