// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.form-input-error {
  border-color: #f50000;
}

.error {
    color: #f50000;
}

.error-dialog {
    color: #f50000;
    font-size: 1.2em;

}