<template>
    <div>
        <div class="navbar-container p-3" style="min-height: 73px;">
            <nav class="navbar navbar-expand-lg navbar-dark" data-overlay="" data-sticky="top" style="max-width: 1583px; top: 0px;">
                <div class="container">
                    <h1><router-link :to="{name:'Home'}">Gestion des inscriptions</router-link></h1>
                </div>
            </nav>
        </div>
        <hr>
    </div>
</template>

<script>
export default {
    name: "TopNav"
}
</script>

<style scoped>

</style>
