<template>
    <div>
        <div class="navbar-container p-3" style="min-height: 73px;">
            <nav class="navbar navbar-expand-lg navbar-dark" data-overlay="" data-sticky="top" style="max-width: 1583px; top: 0px;">
                <div class="container">
                    <h1>Gestion des inscriptions</h1>
                    <div class="justify-content-end">
                        <button v-if="admin &&!admin.logged" data-toggle="modal" data-target="#modalLogin" class="btn btn-dark">Administration</button>
                        <router-link v-else :to="{name:'AdminDashboard'}" class="btn btn-dark">Administration</router-link>
                    </div>
                </div>
            </nav>
        </div>
        <hr>

        <div class="row justify-content-center text-center align-items-center p-5">
            <div class="col-xl-8 col-lg-9 col-md-10 layer-3 aos-init aos-animate" data-aos="fade-up">
                <h1 class="display-3">
                    Inscription école<br>Montessori
                </h1>
                <div class="mb-4">
                    <p class="lead px-xl-5">
                        Une pédagogie qui repose sur l'éducation sensorielle et kinesthésique de l'enfant.
                    </p>
                </div>
                <router-link :to="{name:'Step1'}" class="btn btn-lg btn-light btn-primary" @click.native="resetStore">Déposer une nouvelle candidature</router-link>
                <button v-if="!store.id" type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#modalHome">Accéder à ma demande</button>
                <router-link v-else-if="store.status!=='waitingForDocuments'" type="button" class="btn btn-dark btn-lg" :to="{name:'Step'+(store.lastStep ? store.lastStep : 2)}">Accéder à ma demande</router-link>
                <router-link v-else type="button" class="btn btn-dark btn-lg" :to="{name:'Dashboard'}">Accéder à ma demande</router-link>
            </div>
        </div>

        <modal></modal>
        <modal-admin></modal-admin>

    </div>
</template>

<script>
import Modal from "../components/Modals/HomeModal";
import ModalAdmin from "../components/Modals/ModalAdmin";
export default {
    name: "Home",
    components: {Modal,ModalAdmin},
}
</script>

<style scoped>

</style>
