<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <h1>Etape 1</h1>
        <div class="row">
            <div class="col-1">
                <img :src="'/image/'+$route.name+'.jpg'"/>
            </div>
            <div class="col">
                <div class="col form-group">
                    <div v-if="showError" class="error-dialog">
                        Veuillez passer en revue les zones surlignées avant de continuer.
                    </div>
                    <p>Veuillez rentrer votre adresse mail. Nous l'utiliserons pour vous tenir au courant de
                        l'avancement de votre inscription. Vous allez recevoir un lien, sous peu, pour retrouver votre
                        demande là
                        où vous
                        l'avez laissée</p>
                    <label  class="form__label" for="email">Votre e-mail *</label>
                    <input :class="{ 'form-input-error': $v.email.$error, 'form-control': true }" type="email" id="email" v-model.trim="$v.email.$model" :disabled="store.id" />
                           <div class="error" v-if="!$v.email.required && $v.$dirty">Champ obligatoire</div>
  <div class="error" v-if="!$v.email.email">Email non valide</div>
                </div>
                <div class="text-right" style="margin-top: 20px;">
                    <button class="btn btn-dark"  @click="nextStep()">{{loading? "Chargement en cours..." : "Suivant"}}
                    </button>
                    <button type="button" data-toggle="modal" data-target="#modalReset" v-if="store.id!==null"
                            class="btn btn-danger">Remettre le formulaire à zero
                    </button>
                    <modal-reset></modal-reset>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {mapGetters} from "vuex";
import ModalReset from "../Modals/ModalReset";
import { required, email } from 'vuelidate/lib/validators'
export default {
    name: "Step1",
    components: {ModalReset},
    computed: {
        ...mapGetters(['store']),
    },
    data() {
    return {
      email: "",
      showError : false,
      loading: false
    }
  },

  validations: {
    email: {
      required,
      email
    }
  },
    created() {
        if (!this.store.email) {
            this.resetStore();
        }
        else {
            this.email = this.store.email
        }
        this.setStep(1);
    },
    methods: {
        nextStep :  function ()  {
            this.$v.$touch();
             if (this.$v.$invalid) {
                 this.showError = true;
      } else {
          this.loading =  true
          this.setData("email", this.email);
        this.save("Step2")
      }
        }
    }
}
</script>

<style scoped>

</style>
