<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <template v-if="!sent">
            <h1>Candidature</h1>
            <div class="container">
                <div v-if="$v.$dirty && $v.$invalid" class="error-dialog">
                        Veuillez passer en revue les zones surlignées avant de continuer.
                    </div>
                <h1>Informations sur l'enfant</h1>
                <div class="row">
                    <div class="col-1">
                        <img :src="'/image/' + $route.name + '.jpg'" />
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col form-group">
                                <label for="c_surname">Nom de l'enfant *</label>
                                <input class="form-control" type="text" id="c_surname" v-model="c_surname">
                                <div class="error" v-if="!$v.c_surname.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                            <div class="col form-group">
                                <label for="c_name">Prénom de l'enfant *</label>
                                <input class="form-control" type="text" id="c_name" v-model="c_name">
                                <div class="error" v-if="!$v.c_name.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="c_birthday">Date de naissance de l'enfant *</label>
                                <input class="form-control" type="date" id="c_birthday" v-model="c_birthday">
                                <div class="error" v-if="!$v.c_birthday.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                            <div class="col form-group">
                                <label for="c_birthplace">Lieu de naissance de l'enfant</label>
                                <input class="form-control" type="text" id="c_birthplace" v-model="c_birthplace">
                                <div class="error" v-if="!$v.c_birthplace.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="c_sex">Sexe de naissance de l'enfant</label>
                                <select class="form-control" id="c_sex" v-model="c_sex">
                                    <option :selected="c_sex == null">Selectionner un sexe</option>
                                    <option :selected="c_sex == 1">Homme</option>
                                    <option :selected="c_sex == 2">Femme</option>
                                </select>
                                <div class="error" v-if="!$v.c_sex.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <h1>Motivation</h1>
                                <p>Détails des motivations *</p>
                                <textarea class="form-control" id="motivation" v-model="motivation" />
                                <div class="error" v-if="!$v.motivation.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right" style="margin-top: 20px;">
                    <button class="btn btn-dark" @click="send">Demander un RDV</button>
                </div>
            </div>
        </template>
        <template v-else>
            <h1>Votre dossier est en cours de traitement, vous allez recevoir plus d'informations prochainement par
                mail.</h1>
        </template>
    </div>

</template>

<script>
import { mapGetters } from "vuex";
import { required, email } from 'vuelidate/lib/validators'
export default {
    name: "Step2",
    computed: {
        ...mapGetters(['store']),
        submitValidation() {
            return this.store.c_surname && this.store.c_name && this.store.c_birthday;
        }
    },
    async created() {
        let res = await axios.get('/candidature/' + this.store.id)
        if (res.data.status !== 'waitingForMeeting' && res.data.status !== 'initial') this.$router.push({ name: 'Step3' })
        else if (res.data.status !== 'initial') this.sent = true;
    },
    data() {
        return {
            sent: false,
            c_surname: null,
            c_name: null,
            c_birthday: null,
            c_birthplace: null,
            c_sex: null,
            motivation: null,
            loading: false,
        }
    },
    validations: {
        c_surname: {
            required,
        },
        c_name: {
            required,
        },
        c_birthday: {
            required,
        },
        c_birthplace: {
            required,
        },
        c_sex: {
            required,
        },
        motivation: {
            required,
        }
    },
    methods: {
        async send() {
            this.$v.$touch();
            if(this.$v.$invalid)
            {
                return;
            }
            this.loading = true;
            this.setData("c_surname", this.c_surname);
            this.setData("c_name", this.c_name);
            this.setData("c_birthday", this.c_birthday);
            this.setData("c_birthplace", this.c_birthplace);
            this.setData("c_sex", this.c_sex);
            this.setData("motivation", this.motivation);
            this.save('Step3', false)
            await axios.put('/candidature/' + this.store.id, {
                status: 'waitingForMeeting'
            })
            this.sent = true;
            this.loading = false;
        }
    },
}
</script>

<style scoped>
</style>
