<template>
    <div>
        <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
            <h1>Votre dossier a été validé, merci de le compléter</h1>
            <h2>Responsable légal</h2>
            <div class="container">
                <div v-if="$v.$dirty && $v.$invalid" class="error-dialog">
                        Veuillez passer en revue les champs invalides avant de continuer.
                    </div>
                <div class="row">
                    <div class="col-1">
                        <img :src="'/image/'+$route.name+'.jpg'"/>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_surname">Nom du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_surname" v-model="rl1_surname"">
                                <div class="error" v-if="!$v.rl1_surname.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                            <div class="col form-group">
                                <label for="rl1_name">Prénom du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_name" v-model="rl1_name">
                                <div class="error" v-if="!$v.rl1_name.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_birthday">Date de naissance du responsable légal *</label>
                                <input class="form-control" type="date" id="rl1_birthday" v-model="rl1_birthday">
                                <div class="error" v-if="!$v.rl1_birthday.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                            <div class="col form-group">
                                <label for="rl1_birthplace">Lieu de naissance du responsable légal</label>
                                <input class="form-control" type="text" id="rl1_birthplace"
                                       v-model="rl1_birthplace">
                                <div class="error" v-if="!$v.rl1_birthplace.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="rl1_sex">Sexe de naissance du responsable légal</label>
                                <select class="form-control" id="rl1_sex" v-model="rl1_sex">
                                    <option :value="null">Selectionner un sexe</option>
                                    <option :value="1">Homme</option>
                                    <option :value="2">Femme</option>
                                </select>
                                <div class="error" v-if="!$v.rl1_sex.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_address">Adresse du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_address" v-model="rl1_address">
                                <div class="error" v-if="!$v.rl1_address.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                            <div class="col form-group">
                                <label for="rl1_postcode">Code postal du responsable légal *</label>
                                <input class="form-control " type="text" id="rl1_postcode" v-model="rl1_postcode">
                                <div class="error" v-if="!$v.rl1_postcode.required && $v.$dirty">Champ obligatoire</div>
                                <div class="error" v-if="!$v.rl1_postcode.numeric && !$v.rl1_postcode.maxLength && $v.$dirty">Champ doit etre numerique et avoir 6 caracteres</div>
                            </div>
                            <div class="col form-group">
                                <label for="rl1_city">Ville du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_city" v-model="rl1_city">
                                <div class="error" v-if="!$v.rl1_city.required && $v.$dirty">Champ obligatoire</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_tel">Télephone du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_tel" v-model="rl1_tel">
                                <div class="error" v-if="!$v.rl1_tel.required && $v.$dirty">Champ obligatoire</div>
                                <div class="error" v-if="!$v.rl1_tel.numeric && $v.$dirty">Champ doit etre numerique</div>
                            </div>
                            <div class="col form-group">
                                <label for="rl1_mail">Courriel du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_mail" v-model="rl1_mail">
                                <div class="error" v-if="!$v.rl1_mail.required && $v.$dirty">Champ obligatoire</div>
                                <div class="error" v-if="!$v.rl1_mail.email && $v.$dirty">Email invalide</div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="twoResp">
                            <label class="form-check-label" for="exampleCheck1">Ajouter un responsable légal</label>
                        </div>
                        <div v-if="twoResp" class="container">
                            <h2>Responsable légal</h2>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_surname">Nom du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_surname" v-model="rl2_surname">
                                    <div class="error" v-if="!$v.rl2_surname.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_name">Prénom du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_name" v-model="rl2_name">
                                    <div class="error" v-if="!$v.rl2_name.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_birthday">Date de naissance du responsable légal</label>
                                    <input class="form-control" type="date" id="rl2_birthday"
                                           v-model="rl2_birthday">
                                    <div class="error" v-if="!$v.rl2_birthday.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_birthplace">Lieu de naissance du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_birthplace"
                                           v-model="rl2_birthplace">
                                    <div class="error" v-if="!$v.rl2_birthplace.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="rl2_sex">Sexe de naissance du responsable légal</label>
                                    <select class="form-control" id="rl2_sex" v-model="rl2_sex">
                                        <option :value="null">Selectionner un sexe</option>
                                        <option :value="1">Homme</option>
                                        <option :value="2">Femme</option>
                                    </select>
                                    <div class="error" v-if="!$v.rl2_sex.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_address">Adresse du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_address" v-model="rl2_address">
                                    <div class="error" v-if="!$v.rl2_address.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_postcode">Code postal du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_postcode"
                                           v-model="rl2_postcode">
                                    <div class="error" v-if="!$v.rl2_postcode.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_city">Ville du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_city" v-model="rl2_city">
                                    <div class="error" v-if="!$v.rl2_city.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_tel">Téléphone du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_tel" v-model="rl2_tel">
                                    <div class="error" v-if="!$v.rl2_tel.requiredIf && $v.$dirty">Champ obligatoire</div>
                                    <div class="error" v-if="!$v.rl2_tel.requiredIf && !$v.rl2_tel.numeric && $v.$dirty">Champ doit etre numerique</div>
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_mail">Courriel du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_mail" v-model="rl2_mail">
                                    <div class="error" v-if="!$v.rl2_mail.requiredIf && $v.$dirty">Champ obligatoire</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right" style="margin-top: 20px;">
                            <button class="btn btn-dark"  @click="submitStep()">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";
import { required, email, requiredIf, numeric, maxLength } from 'vuelidate/lib/validators'
export default {
    name: "Step3",
    data() {
        return {
            twoResp: false,

            rl1_surname: null,
            rl1_name: null,
            rl1_birthday: null,
            rl1_birthplace: null,
            rl1_sex : null,
            rl1_address : null,
            rl1_postcode : null,
            rl1_city : null,
            rl1_tel : null,
            rl1_mail : null,

            rl2_surname: null,
            rl2_name: null,
            rl2_birthday: null,
            rl2_birthplace: null,
            rl2_sex : null,
            rl2_address : null,
            rl2_postcode : null,
            rl2_city : null,
            rl2_tel : null,
            rl2_mail : null,

        }
    },
    validations() {
        return {
rl1_surname: {
            required,
        },
        rl1_name: {
            required,
        },
        rl1_birthday: {
            required,
        },
        rl1_birthplace: {
            required,
        },  
        rl1_sex : {
            required,
        },
        rl1_address : {
            required,
        },
        rl1_postcode : {
            required,
            numeric,
            maxLength : maxLength(6)
        },
        rl1_city : {
            required,
        },
        rl1_tel : {
            required,
            numeric
        },
        rl1_mail : {
            required,
            email
        },

        rl2_surname: {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_name: {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_birthday: {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_birthplace: {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_sex : {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_address : {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_postcode : {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
            numeric,
            maxLengthValue : maxLength(6)
        },
        rl2_city : {
             requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        rl2_tel : {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
                                    numeric
        },
        rl2_mail : {
            requiredIf: requiredIf(function(value) {
                                    return !!value.twoResp
                                    }),
        },
        }
        
    },
    computed: {
        ...mapGetters(['store']),
    },
    created() {
        if (this.store.rl2_name) this.twoResp = true
        this.rl1_surname = this.store.rl1_surname
        this.rl1_name = this.store.rl1_name
        this.rl1_birthday = this.store.rl1_birthday
        this.rl1_birthplace = this.store.rl1_birthplace
        this.rl1_address = this.store.rl1_address
        this.rl1_postcode = this.store.rl1_postcode
        this.rl1_city = this.store.rl1_city
        this.rl1_tel = this.store.rl1_tel
        this.rl1_mail = this.store.rl1_mail
        this.rl1_sex = this.store.rl1_sex
        this.rl2_surname = this.store.rl2_surname
        this.rl2_name = this.store.rl2_name
        this.rl2_birthday = this.store.rl2_birthday
        this.rl2_birthplace = this.store.rl2_birthplace
        this.rl2_address = this.store.rl2_address
        this.rl2_postcode = this.store.rl2_postcode
        this.rl2_city = this.store.rl2_city
        this.rl2_sex = this.store.rl2_sex
        this.rl2_tel = this.store.rl2_tel
        this.rl2_mail = this.store.rl2_mail
    },
    methods: {
        submitStep () {
            if (this.$v.$invalid) {
                console.log(this.$v.rl2_address)
                this.$v.$touch()
                return
            }
            this.setData("rl1_surname", this.rl1_surname);
            this.setData("rl1_name", this.rl1_name);
            this.setData("rl1_birthday", this.rl1_birthday);
            this.setData("rl1_birthplace", this.rl1_birthplace);
            this.setData("rl1_address", this.rl1_address);
            this.setData("rl1_postcode", this.rl1_postcode);
            this.setData("rl1_city", this.rl1_city);
            this.setData("rl1_tel", this.rl1_tel);
            this.setData("rl1_mail", this.rl1_mail);
            this.setData("rl1_sex", this.rl1_sex);


            this.setData("rl2_surname", this.rl2_surname);
            this.setData("rl2_name", this.rl2_name);
            this.setData("rl2_birthday", this.rl2_birthday);
            this.setData("rl2_birthplace", this.rl2_birthplace);
            this.setData("rl2_address", this.rl2_address);
            this.setData("rl2_postcode", this.rl2_postcode);
            this.setData("rl2_city", this.rl2_city);
            this.setData("rl2_tel", this.rl2_tel);
            this.setData("rl2_sex", this.rl2_sex);
            this.setData("rl2_mail", this.rl2_mail);

            this.save('Step4')

        }
    }
}
</script>

<style scoped>

</style>
