<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <div class="container">

            <h1>Scolarité de l'enfant</h1>
            <div class="row">
                <div class="col-1">
                    <img :src="'/image/'+$route.name+'.jpg'"/>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col form-group">
                            <label for="c_class">Scolarité demandée *</label>
                            <select class="form-control" id="c_class" v-model="store.c_class">
                                <option v-for="classe in classes" :value="classe" :selected="classe===store.c_class">
                                    {{ classe }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="etabChange">
                        <label class="form-check-label" for="exampleCheck1">Concerné par un changement
                            d'établissement</label>
                    </div>
                    <div v-if="etabChange" class="container">
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="c_lastclass">Classe dans l'ancien établissement</label>
                                <input class="form-control" type="text" id="c_lastclass" :value="store.c_lastclass"
                                       @change="setData('c_lastclass',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="cl_adress">Adresse de l'établissement précédent</label>
                                <input class="form-control" type="text" id="cl_adress" :value="store.cl_adress"
                                       @change="setData('cl_adress',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="cl_postcode">Code postal de l'établissement précédent</label>
                                <input class="form-control" type="number" id="cl_postcode" :value="store.cl_postcode"
                                       @change="setData('cl_postcode',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="cl_city">Ville de l'établissement précédent</label>
                                <input class="form-control" type="text" id="cl_city" :value="store.cl_city"
                                       @change="setData('cl_city',$event.target.value);">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h2>Informations périscolaires</h2>
                        <div class="row">
                            <div class="col form-group">
                                <label for="i_gardmat">Garderie matin</label>
                                <input type="checkbox" id="i_gardmat" :value="store.i_gardmat"
                                       :checked="store.i_gardmat"
                                       @change="setData('i_gardmat',$event.target.checked);">
                            </div>
                            <div class="col form-group">
                                <label for="i_gardapr">Garderie après-midi</label>
                                <input type="checkbox" id="i_gardapr" :value="store.i_gardapr"
                                       :checked="store.i_gardapr"
                                       @change="setData('i_gardapr',$event.target.checked);">
                            </div>
                            <div class="col form-group">
                                <label for="i_rest">Restaurant scolaire</label>
                                <input type="checkbox" id="i_rest" :value="store.i_rest" :checked="store.i_rest"
                                       @change="setData('i_rest',$event.target.checked);">
                            </div>
                            <div class="col form-group">
                                <label for="i_trans">Transport scolaire</label>
                                <input type="checkbox" id="i_trans" :value="store.i_trans" :checked="store.i_trans"
                                       @change="setData('i_trans',$event.target.checked);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right" style="margin-top: 20px;">
                <router-link :to="{name:'Step3'}" class="btn btn-outline-dark">Retour</router-link>
                <button class="btn btn-dark" :class="submitValidation?'':'disabled'" @click="save('Step5')">Suivant</button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Step4",
    data() {
        return {
            etabChange: false,
        }
    },
    computed: {
        ...mapGetters(['store']),
        submitValidation(){
            return this.store.c_class;
        }
    },
    created() {
        if (this.store.c_lastclass) this.etabChange = true
    },
    methods: {
    }
}


</script>

<style scoped>

</style>
