<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <h1>Assurance et documents annexes</h1>
        <h3>Vous pourrez compléter cette partie plus tard</h3>
        <div class="row">
            <div class="col-1">
                <img :src="'/image/'+$route.name+'.jpg'"/>
            </div>
            <div class="col">
                <div v-for="file in files" :key="file.file">
                    <div class="border rounded p-3">
                        <div class="row">
                            <div class="col">
                                <p>Type de document : {{ file.fileType }}</p>
                                <p v-if="file.validated!==1">Statut : {{
                                        file.validated == null ? "En attente d'upload" : "En attente de validation"
                                    }}</p>
                                <p v-else>Statut : Fichier validé par l'administration</p>
                            </div>
                            <div class="row">
                                <template v-if="file.validated==null">
                                    <div class="col">
                                        <p>Veuillez remettre le document demandé</p>
                                        <form class="col" @submit.prevent="addFile(file.id)"
                                              enctype="multipart/form-data">
                                            <div>
                                                <label for="inputFileUpload">Choisir un document</label>
                                                <input type="file" name="attachedFile" id="inputFileUpload"
                                                       v-on:change="onFileChange">
                                                <input type="submit" class="btn btn-dark" value="Valider">
                                            </div>
                                        </form>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="text-right" style="margin-top: 20px;">
                    <router-link :to="{name:'Step4'}" class="btn btn-outline-dark">Retour</router-link>
                    <button @click="save('Step10')" class="btn btn-dark">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Step5",
    computed: {
        ...mapGetters(['store']),
        submitValidation() {
            return this.store.rl1_name && this.store.rl1_address;
        }
    },
    data() {
        return {
            files: null,
        }
    },
    created() {
        this.getFiles();
    },
    methods: {
        async getFiles() {
            let res = await axios.get('/candidature/' + this.store.id + '/files')
            this.files = res.data;
        },
        onFileChange(event) {
            this.attachedFile = event.target.files[0];
        },
        addFile(fileId) {
            const body = new FormData();
            body.append('attachedFile', this.attachedFile);
            axios.post("/candidature/" + this.store.id + "/files/" + fileId + '/add', body, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            })
                .then((res) => {
                    this.files.find(f => f.id == fileId).validated = 0;
                });
        }
    }
}


</script>

<style scoped>

</style>
