<template>
    <div class="modal fade" id="modalHome" tabindex="-1" role="dialog" aria-labelledby="modalHome" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <template v-if="isConnect">
                        <p>Veuillez entrer votre numéro de candidature</p>
                        <input type="password" class="form-control" v-model="password">
                        <button class="btn btn-sm btn-outline-dark" style="margin-top:5px;" @click="resetModal(true, false)">Numéro
                            oublié ?</button>
                        <div class="text-right">
                            <button class="btn btn-dark" @click="connection(password)">Accéder à ma
                                demande</button>
                        </div>
                    </template>
                    <template v-if="isForget">
                        <p>Renseigner votre email pour le recevoir à nouveau</p>
                        <input type="email" v-model="email">
                        <button class="btn btn-primary" @click="resetLink">Envoyer</button>
                    </template>
                </div>
                <div class="alert alert-danger" role="alert" v-if="isWrong">
                    Vous avez entré un numéro de dossier qui n'existe pas !
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Modal",
    data() {
        return {
            isForget: false,
            isWrong: false,
            isConnect: true,
            password: null,
            email: null,
        }
    },

    mounted() {
        $('#modalHome').on('hidden.bs.modal', (e) => {
            this.resetModal(false, true)
        })
    },
    methods: {
        resetModal(forgot , connect){
            this.password = null
            this.email = null
            this.isWrong = false
            this.isForget = forgot
            this.isConnect = connect
        },
        connection(password){
            this.isWrong = this.login(password)
        },
        resetLink() {
            axios.post('/resetLink/', {
                email: this.email,
            }).then((e) => {
                this.resetModal(false, true)
            })
        }
    }
}
</script>

<style scoped>
</style>
